body {
  background: black;
  margin: 0;
  padding: 0;
}

#canvas1 {
  position: absolute;
  border: 3px solid white;
  width: 1000px;
  height: 800px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@media only screen and (max-width: 600px) {
  #canvas1 {
    width: 100%;
  }
}
